.task {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  border-radius: 8px;
  border: 1px solid var(--gray-400);
  padding: 16px;
  background: var(--gray-500);

  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.4;
}

.task + .task {
  margin-top: 12px;
}

.task div {
  display: flex;
  gap: 12px
}

.checkBox {
  appearance: none;
  min-width: 1.090625rem;
  height: 1.090625rem;
  border: 2px solid var(--blue);
  border-radius: 100%;
  cursor: pointer;

  transition: color 0.1s, background-color 0.1s;
}

.checkBox:hover {
  border-color: var(--blue-dark);
  background-color: var(--blue-dark-opacity);
}

.checkBox:checked {
  display: block;
  border: 2px none;
  background-color: var(--purple-dark);
}

.checkBox:checked::after {
  display: flex;
  justify-content: center; 
  content:"\2713";
  color: white;

  transition: color 0.1s, background-color 0.1s;
}

.contentChecked {
  text-decoration: line-through;
}

.checkBox:checked:hover {
  background-color: var(--purple);
}

.trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--gray-300);
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color 0.1s, background-color 0.1s;
}

.trash:hover {
  color: var(--danger);
  background-color: var(--gray-400);
  border-radius: 4px;
}