.taskHeader {
  display: flex;
  justify-content: space-between;

  font-weight: 700;
}

.taskHeader div {
  display: flex;
  gap: 8px;

  height: 1.1875rem;
}

.taskHeader span {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 8px;
  border-radius: 999px;

  background: var(--gray-400);
  
  color: var(--gray-200);
  font-size: 0.75rem;
}

.createdTasks {
  color: var(--blue)
}

.concludedTasks {
  color: var(--purple)
}